.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.empty-div {
  padding-top: 10%;
  border-radius: 1%;
  width: 80%;
  margin: auto;
  background-color: lightgray;
}

.button-create-employee {
  position: relative;
  flex: 1 1 auto;
  
  width: 15%;
}

.search-employee {
  width: 80%;
  margin: auto;
  padding-top: 0.5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.simple-search {
  width: 70%;
  margin: auto 1% auto auto;
  position: relative;
  flex: 1 1 auto;
}

.advanced-search {
  margin: 1% auto;
  width: 80%;
  position: relative;
  flex: 1 1 auto;
}

.card-header-advanced-search {
  padding: 0 0 0 auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #8fc5ff52;
}

.table-bordered {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

.table-striped {
  background-color: #007bff12;
}

.table-actions {
  text-align: center;
}

.table-actions-data {
  color: #ff0000a9;
  font-size: smaller;
}